.main__page {
    width: 62vw;

    margin-left: 4vw;

    .welcome__block {
        display: flex;
        justify-content: space-between;

        width: 100%;

        margin-bottom: 2vw;
        padding: 2vw;
        padding-bottom: 0;

        border-radius: .5vw;
        box-shadow: 0px 0px 4px 2px #1d1b3c;

        .welcome__wrapper {
            display: block;
            width: 54%;

            h1,
            h2 {
                width: 100%;

                margin-bottom: 1vw;
            }

            h1 {
                font-size: 2vw;
            }

            h2 {
                font-size: 1.25vw;
                font-weight: 500;
            }

            .weather__block {
                display: flex;
                align-items: center;

                .weather__icon {
                    img {
                        width: 1.5vw;
                        height: 1.5vw;

                        margin-left: .5vw;
                    }
                }
            }
        }

        img.welcome__picture {
            width: 44%;
        }

        * {
            color: white;
        }
    }

    .indicators__block {
        display: flex;
        align-items: center;

        width: 100%;

        .information__block {
            display: flex;
            align-items: center;

            .information__img {
                width: 1.5vw;
                height: 1.5vw;
            }

            .information__value {
                font-size: 1.25vw;

                color: white;
            }

            &#temperature {
                margin-left: 1vw;
            }
        }

        .place__select {
            position: relative;

            width: 12vw;

            margin-left: auto;
            padding: 1vw;

            border-radius: .5vw;
            box-shadow: 0px 0px 4px 2px #1d1b3c;

            cursor: pointer;

            &.active {
                background-color: #282650;

                border-radius: .5vw .5vw 0 0;
            }

            .place__value {
                font-size: 1vw;

                color: white;
            }

            .place__list {
                position: absolute;
                top: 100%;
                left: 0;

                width: 100%;
                max-height: 10vw;

                border-radius: 0 0 .5vw .5vw;

                background-color: #282650;
                box-shadow: 0px 0px 4px 2px #1d1b3c;

                .place__item {
                    width: 100%;

                    padding: 1vw;

                    list-style: none;

                    font-size: 1vw;

                    color: white;

                    cursor: pointer;
                }
            }
        }
    }
}