@import '../components/switch';
@import '../components/counter';
@import '../components/select';
@import '../components/deviceItem';

.main__page {
    width: 62vw;

    margin-left: 4vw;

    .welcome__block {
        display: flex;
        justify-content: space-between;

        width: 100%;

        margin-bottom: 2vw;
        padding: 2vw;
        padding-bottom: 0;

        border-radius: .5vw;
        box-shadow: 0px 0px 4px 2px #1d1b3c;

        .welcome__wrapper {
            display: block;
            width: 54%;

            h1,
            h2 {
                width: 100%;

                margin-bottom: 1vw;
            }

            h1 {
                font-size: 2vw;
            }

            h2 {
                font-size: 1.25vw;
                font-weight: 500;
            }

            .weather__block {
                display: flex;
                align-items: center;

                .weather__icon {
                    img {
                        width: 1.5vw;
                        height: 1.5vw;

                        margin-left: .5vw;
                    }
                }
            }
        }

        img.welcome__picture {
            width: 44%;
        }

        * {
            color: white;
        }
    }

    .temperature__block {
        width: 100%;
        padding: 2vw;

        box-shadow: 0px 0px 4px 2px #1d1b3c;

        border-radius: 1vw;

        .temperature__header {
            display: flex;
            align-items: center;

            margin-bottom: 2vw;

            img {
                width: 2vw;
                height: 2vw;

                margin-right: .5vw;
            }

            .place__value {
                font-size: 1.25vw;
                color: white;

                margin-right: auto;
            }
        }

        .temperature__body {
            .room {
                position: relative;

                width: 50vw;
                height: 15vw;

                margin: 0 auto 2vw auto;

                box-shadow: 0px 0px 4px 2px #b8150a;

                overflow: hidden;

                border-radius: 1vw;

                .temperature__background {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;

                    border-radius: 1vw;

                    background-color: #b8150a;
                    opacity: .5;
                }
            }
        }

        .devices__block {
            display: flex;
        }
    }
}