.device__item {
    width: 12vw;

    padding: 1vw;
    margin: 0 1vw;

    border-radius: 1vw;

    box-shadow: 0px 0px 4px 2px #1d1b3c;

    transition: background-color .15s ease-in-out,
                box-shadow .15s ease-in-out;

    &:hover {
        background-color: #1d1b3c;
    }

    &.switched {
        background-color: #0180f6;
        box-shadow: 0px 0px 4px 2px #0180f6;
    }

    .device__top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        input[type="checkbox"] {
            display: none;
        }
    }

    .device__icon {
        width: 4vw;
        height: 4vw;

        margin: 1vw 0;
    }

    .device__name {
        color: white;
    }
}