@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import './components/header';
@import './components/sidebar';

@import './pages/mainPage';

button, input {
    border: none;
    outline: none;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #0e0e1a;

    .App__main {
        display: flex;
    }
}